.confirm-modal{
    width: 60%;
    display: grid;
    grid-template-areas: 
    "message message"
    "si no";
}

.confirm-modal span{
    grid-area: message;
}

.confirm-modal button:nth-child(2){
    grid-area: no;
}

.confirm-modal button:nth-child(3){
    background-color: var(--g-800);
    color: var(--y-500);
}