#root {
  text-align: center;
  padding: 2em;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

body {
  background-color: var(--g-600);
  background-image: url('../public/cuadricula.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  color: white;
}

input, button {
  font-family: "Fugaz One";
  font-size: 1.2em;
  border-radius: 5px;
  padding: .5em;
  border: none;
}

input[type="text"]{
  background-color: var(--y-100);
  color: var(--y-500);
  outline: none;
}

button {
  background-color: var(--y-500);
  color: white;
  cursor: pointer;
  width: 10em;
  margin: 0 auto;
}

button:hover {
  scale: 1.03;
  transition: 500ms scale ease-in-out;
}


.button-invert{
  background-color: var(--g-700);
  color: var(--y-500);
}

